[Unit]
Description=TEM xCall Service
DefaultDependencies=no
Requires=dbus.service
After=iplm.service appinstalld.service ihu_ap_swdl.service

[Service]
Type=notify
ExecStart=/app/bin/xcall-service
Restart=always
RestartSec=5
TimeoutSec=5

[Install]
WantedBy=multi-user.target

